body {
	height: auto !important;
	margin: 0;
	position: relative;
}

#amway-landing.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	background: linear-gradient(90deg, #FDBEFD 0.61%, #FDDDFE 98.77%);
	.l-container {
		max-width: 1464px;
		margin-right: auto;
    margin-left: auto;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
		width: 100%;
		box-sizing: border-box;
		
	}
	
	.d-flex {
		display: flex;
	}
	
	.btn {
		border: none;
		background: none;
	}
	
	.posa {
		position: absolute;
	}
	img {
		width: 100%;
	}
}


@media (max-width: $sw-md-max) {
	#amway-landing.l-wrapper .l-container {
		max-width: 960px;
	}
}
@media (max-width: $sw-sm-max) {
	#amway-landing.l-wrapper .l-container {
		max-width: 720px;
	}
}
@media (max-width: $sw-xs-max) {
	#amway-landing.l-wrapper .l-container {
		max-width: 520%;
	}
}
@media (max-width: $sw-xx-max) {
	#amway-landing.l-wrapper .l-container {
		max-width: 100%;
		// padding: 0;
	}
}