mixin c-achievements(data)
	.c-achievements#c-achievements
		.l-container
			.c-achievements__inner
				.c-achievements__items
					.c-achievements__item.slideInLeft.wow(data-wow-duration="2s" data-wow-delay="0.75s")
						picture.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
							source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/achievements-1.png')
							img(src='s/images/useful/lg-images/achievements-1.png', alt='')
					.c-achievements__item.slideInLeft.wow(data-wow-duration="2s" data-wow-delay="0.75s")
						picture.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
							source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/achievements-2.png')
							img(src='s/images/useful/lg-images/achievements-2.png', alt='')
					.c-achievements__item.slideInLeft.wow(data-wow-duration="2s" data-wow-delay="0.75s")
						picture.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
							source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/achievements-3.png')
							img(src='s/images/useful/lg-images/achievements-3.png', alt='')
					.c-achievements__item.slideInLeft.wow(data-wow-duration="2s" data-wow-delay="0.75s")
						picture.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
							source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/achievements-4.png')
							img(src='s/images/useful/lg-images/achievements-4.png', alt='')