#amway-landing .c-achievements {
	background-image: url(../images/useful/svg/achievements-bg.svg);
	padding: 157px 0;
	padding-bottom: 158px;
	background-size: cover;
	@media (max-width: $sw-md-max) {
		padding: 79px 0 0 0 ;
	}
	@media (max-width: $sw-sm-max) {
		padding: 63px 0 0 0 ;
		background-image: url(../images/useful/achi-sm.png);
	}
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $sw-md-max) {
			flex-wrap: wrap;
		}
		@media (max-width: $sw-sm-max) {
			flex-direction: column;
		}
	}
	&__item {
		position: relative;
		height: 250px;
		width: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $sw-md-max) {
			width: 45%;
			margin-bottom: 79px;
		}
		@media (max-width: $sw-sm-max) {
			width: 250px;
			margin-bottom: 79px;
			margin-right: 0 !important;
			margin-bottom: 57px;
			height: auto;
		}
		&:not(:last-child) {
			margin-right: 24px;
			&:after {
				content: '';
				position: absolute;
				height: 250px;
				width: 2px;
				background-color: #fff;
				-webkit-transform: rotate(35deg);
				transform: rotate(24deg);
				top: -10px;
				right: -19px;
				@media (max-width: $sw-sm-max) {
					width: 250px;
					height: 2px;
					left: 0;
					top: auto;
					bottom: -29px;
					right: auto;
					-webkit-transform: rotate(-14deg);
					transform: rotate(-8deg);
				}
			}
		}
		@media (max-width: $sw-md-max) {
			&:nth-child(2) {
				margin-right: 24px;
				&:after {
					display: none;
				}
			}
		}
		@media (max-width: $sw-sm-max) {
			&:nth-child(2) {
				margin-right: 24px;
				&:after {
					display: block;
				}
			}
		}
	}
}