//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper#amway-landing
			main
				block content
		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src=route.js + "main.js")