.c-id {
    background: linear-gradient(49.98deg, #40AEF7 -1.22%, #71E2AC 105.67%);
    padding: 84px 0;
    padding-bottom: 64px;
    @media (max-width: $sw-md-max) {
        padding-top: 26px;
        padding-bottom: 54px;
    }
    @media (max-width: $sw-sm-max) {
        padding: 30px 0;
       }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $sw-md-max) {
            flex-direction: column;
        }
        @media (max-width: $sw-sm-max) {
            align-items: center;
          }
    }
    &__img {
        width: 508px;
        height: auto;
        @media (max-width: $sw-md-max) {
            width: 300px;
            margin-top: 40px;
	    }
        @media (max-width: $sw-sm-max) {
            width: 300px;
          }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        @media (max-width: $sw-md-max) {
           margin-right: 0;
	}
        @media (max-width: $sw-sm-max) {
           margin-right: 0;
          }
    }
    &__title {
        width: 545px;
        height: 160px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-sm-max) {
            width: 280px;
            height: 86px;
           }
        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        span {
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 40px;
            line-height: 125%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: matrix(1, -0.05, 0.07, 1, 0, 0);
            position: relative;
            z-index: 5;
            @media (max-width: $sw-sm-max) {
                font-size: 22px;
               }
        }
    }
    &__subtitle {
        max-width: 428px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: SourceSansPro;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 125%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

.c-id__subtitle.d-none {
    display: none;
    @media (max-width: $sw-md-max) {
       display: block;
       margin-top: 48px;
}
}
.c-id__subtitle {
    @media (max-width: $sw-md-max) {
        display: none;
 }
}