mixin c-id(data)
	.c-id#c-id
		.l-container
			.c-id__inner
				.c-id__desc.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
					.c-id__title
						picture
							source(media='(max-width: 768px)', srcset='s/images/useful/id/1.png')
							source(media='(max-width: 1279px)', srcset='s/images/useful/id/1.png')
							img(src='s/images/useful/id/1.png', alt='')
						span Удобный доступ через Amway ID
					.c-id__subtitle
						span Теперь легко войти в ALL STARS и пользоваться интерактивом. В этом поможет Amway ID – единый ключ ко всем сервисам Amway. Мир Amway стал ещё доступнее.
				.c-id__img.wow.slideInRight(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
					picture
						source(media='(max-width: 768px)', srcset='s/images/useful/id/2-sm.png')
						source(media='(max-width: 1279px)', srcset='s/images/useful/id/2-md.png')
						img(src='s/images/useful/id/2.png', alt='')
				.c-id__subtitle.d-none
						span Теперь легко войти в ALL STARS и пользоваться интерактивом. В этом поможет Amway ID – единый ключ ко всем сервисам Amway. Мир Amway стал ещё доступнее.