extends _includes/_extends/main

include _includes/components/c-promo-hero/c-promo-hero
include _includes/components/c-board/c-board
include _includes/components/c-id/c-id
include _includes/components/c-present/c-present
include _includes/components/c-future/c-future

block head
	+head({'title':'Landing page'})

block content
	+c-promo-hero()
	+c-board()
	+c-id()
	+c-future()
	+c-present()