#amway-landing .c-board {
    background: linear-gradient(90deg, #FDBEFD 0.61%, #FDDDFE 98.77%);
    padding: 68px 0;
    padding-bottom: 82px;
    display: flex;
    position: relative;
    @media (max-width: $sw-md-max) {
        margin-top: -92px;
        padding: 32px 0;
        padding-bottom: 55px;
    }
    @media (max-width: $sw-sm-max) {
        margin-top: 0;
        padding-top: 58px;
        padding-bottom: 78px;
    }
    .c-board__inner {
        display: flex;
        justify-content: center;
        margin-left: -44px;
        @media (max-width: $sw-md-max) {
            flex-direction: column;
            margin: 0;
        }
    }
    .c-board__left {
        display: flex;
        flex-direction: column;
        margin-right: 54px;
        @media (max-width: $sw-md-max) {
            margin-right: 0;
            align-items: center;
         }
         @media (max-width: $sw-sm-max) {
           margin: 0;
         }
    }
    .c-board__left-title {
        position: relative;
        width: 535px;
        height: 185px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-md-max) {
           height: 175px;
        }
        @media (max-width: $sw-sm-max) {
           width: 300px;
           height: 126px;
        }
        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        span {
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 40px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-3deg);
            @media (max-width: $sw-sm-max) {
                font-size: 22px;
             }
        }
    }
    .c-board__left-img {
        width: 519.09px;
        height: 297.88px;
        margin-top: -44px;
        margin-left: 76px;
        @media (max-width: $sw-md-max) {
            margin-top: 0;
            margin-left: 0;
        }
        @media (max-width: $sw-sm-max) {
            width: 280px;
            margin: 0;
            height: auto;
           }
    }
    .c-board__left-subtitle {
        position: relative;
        width: 259.12px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: -57px;
        margin-top: -49px;
        @media (max-width: $sw-md-max) {
           margin: 0;
           margin-top: 20px;
           width: 480px;
           height: 180px;
         }
         @media (max-width: $sw-sm-max) {
            width: 280px;
            margin: 0;
            height: 108px;
        }
        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        span {
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 22px;
            line-height: 110%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #3553DA;
            transform: rotate(-3deg);
            @media (max-width: $sw-md-max) {
                font-size: 40px;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 17px;
            }
        }
    }
    .c-board__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 87px;
        @media (max-width: $sw-md-max) {
            margin-top: 0;
        }
    }
    .c-board__right-title {
        text-align: center;
        display: flex;
        flex-direction: column;
        span {
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 30px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #8143D7;
            transform: rotate(-3deg);
            @media (max-width: $sw-sm-max) {
               font-size: 17px;
              }
        }
        b {
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 40px;
            line-height: 110%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #8143D7;
            transform: matrix(1, -0.05, 0.06, 1, 0, 0);
            margin-top: 7px;
            @media (max-width: $sw-sm-max) {
                font-size: 17px;
               }
        }
    }
    .c-board__right-subtitle {
        margin-top: 42px;
        text-align: center;
        max-width: 516px;
        @media (max-width: $sw-md-max) {
            margin-top: 15px;
        }
        span {
            font-family: SourceSansPro;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 125%;
            color: #4347D4;
        }
    }
    .c-board__right--link {
        margin-top: 45px;
        @media (max-width: $sw-md-max) {
            margin-top: 35px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #00D5FF;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            width: 226px;
            height: 51px;
            font-size: 16px;
            line-height: 20px;
            font-style: normal;
            font-weight: bold;
            font-family: SourceSansPro;
        }
    }
    .board-circle {
        right: 0;
        top: 80px;
        width: auto;
        @media (max-width: $sw-md-max) {
            right: -89px;
            top: 222px;
        }
        @media (max-width: $sw-sm-max) {
            top: -150px;
        }
    }
}

.c-board__left .d-none {
    display: none !important;
    @media (max-width: $sw-md-max) {
        display: flex !important;
        margin: 44px 0;
    }
}

.c-board__right .c-board__right-title {
    @media (max-width: $sw-md-max) {
        display: none !important;
    }
}