mixin c-board(data)
	.c-board#c-board
		img.board-circle.posa.parallax(src="s/images/useful/board-circle.png", alt="")
		.l-container
			.c-board__inner
				.c-board__left
					.c-board__left-title.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
						picture
							source(media='(max-width: 768px)', srcset='s/images/useful/board/1-sm.png')
							source(media='(max-width: 1279px)', srcset='s/images/useful/board/1.png')
							img(src='s/images/useful/board/1.png', alt='')
						span Яркий и современный дизайн
					.c-board__right-title.d-none
						span Доска достижений
						b Поможет рассказать о себе,
							br
							|	узнать о других
					.c-board__left-img
						picture
							source(media='(max-width: 768px)', srcset='s/images/useful/board/2-sm.png')
							source(media='(max-width: 1279px)', srcset='s/images/useful/board/2.png')
							img(src='s/images/useful/board/2.png', alt='')
					.c-board__left-subtitle.wow.slideInUp(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
						picture
							source(media='(max-width: 768px)', srcset='s/images/useful/board/3-sm.png')
							source(media='(max-width: 1279px)', srcset='s/images/useful/board/3.png')
							img(src='s/images/useful/board/3.png', alt='')
						span Вдохновляйтесь 
							br
							| и вдохновляйте!
				.c-board__right
					.c-board__right-title.wow.slideInRight(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
						span Доска достижений
						b Поможет рассказать о себе,
							br
							|	узнать о других
					.c-board__right-subtitle.wow.slideInRight(data-wow-duration="3s" data-wow-delay="1s" data-rellax-speed="3")
						span Ставьте смелые цели, воодушевляйтесь успехами Лидеров, развивайте бизнес Amway и получайте признание за свои достижения!
					.c-board__right--link.wow.slideInRight(data-wow-duration="3s" data-wow-delay="1.5s" data-rellax-speed="3")
						a(href="#") Создать личную страницу