.l-wrapper {
	.h-reset-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}


a {
	text-decoration: none;
	&:hover {
		color: initial;
	}
}

button {
	cursor: pointer;
	&:focus {
		outline:0 !important;
	}
}

}

