mixin c-promo-hero(data)
	.c-promo-hero#scroll-container
		.c-promo-hero__wrapper
			.c-promo-hero__graphics
				picture.animate.snake.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/snake.png')
					img(src='s/images/useful/lg-images/snake.png', alt='')
				picture.gradient-circle.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
					source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/gradient-circle.png')
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/gradient-circle.png')
					img(src='s/images/useful/lg-images/gradient-circle.png', alt='')
				picture.qube.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/qube.svg')
					img(src='s/images/useful/lg-images/qube.svg', alt='')
				picture.circle-green.parallax(data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/circle-green.svg')
					img(src='s/images/useful/lg-images/circle-green.svg', alt='')
				picture.wave.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
					img(src='s/images/useful/lg-images/wave.png', alt='')
				picture.circle-yellow.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s")
					source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/circle-yellow.svg')
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/circle-yellow.svg')
					img(src='s/images/useful/lg-images/circle-yellow.svg', alt='')
				picture.dots.parallax.parallax-rotate
					img(src='s/images/useful/lg-images/dots.png', alt='')
				picture.conus.parallax.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0.5s")
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/conus.png')
					img(src='s/images/useful/lg-images/conus.png', alt='')
				picture.gradient-circle-r.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s")
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/gradient-circle-r.svg')
					img(src='s/images/useful/lg-images/gradient-circle-r.svg', alt='')
				picture.ball-blue.parallax.parallax-rotate.wow.slideInRight(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/ball-blue.svg')
					img(src='s/images/useful/lg-images/ball-blue.svg', alt='')
				picture.ball-yellow.parallax.parallax-rotate.wow.slideInDown(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
					source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/ball-yellow.svg')
					source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/ball-yellow.svg')
					img(src='s/images/useful/lg-images/ball-yellow.svg', alt='')
				picture.half-circle-lines.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="3")
					img(src='s/images/useful/lg-images/half-circle-lines.svg', alt='')
				picture.transparent-circle.wow.slideInUp(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="4")
					img(src='s/images/useful/lg-images/transparent-circle.svg', alt='')
				picture.transparent-line.wow.slideInUp(data-wow-duration="2s" data-wow-delay="0.5s" data-rellax-speed="4")
					img(src='s/images/useful/lg-images/transparent-line.svg', alt='')
				picture.line.wow.slideInUp(data-wow-duration="2s" data-wow-delay="0.5s")
					img(src='s/images/useful/lg-images/line.svg', alt='')
				picture.big-snake.parallax
					img(src='s/images/useful/lg-images/big-snake.png', alt='')
			.l-container
				.c-promo-hero__inner
					.c-promo-hero__title
						img(src="s/images/useful/svg/logo.svg", alt="")
					.c-promo-hero__main
						.c-promo-hero__description
							.c-promo-hero__recognition-partners
								picture.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
									source(media='(max-width: 768px)', srcset='s/images/useful/main/1-sm.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/main/1-md.png')
									img(src='s/images/useful/main/1.png', alt='')
						.c-promo-hero__video
							img(src="s/images/useful/video.png", alt="").c-promo-hero__video-bg
							button(type="button").youtube
								img(src="s/images/useful/svg/arrow-youtube.svg", alt="")
						.video
							.video__wrapper
								button.close-btn
									img(src='https://all-stars.amway.dobroagency.ru/images/close.svg')
								video#video(src='http://all-stars.amway.dobroagency.ru/sequence_29_10.mp4', controls='')
