#amway-landing .c-promo-hero {
    background: #F293A0;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    @media (max-width: $sw-md-max) {
        padding-top: 0;
        padding-bottom: 55px;
    }
    @media (max-width: $sw-sm-max) {
        clip-path: none;
        padding-bottom: 6px;
    }
    &__inner {
        padding-top: 91px;
        padding-bottom: 50px;
        @media (max-width: $sw-md-max) {
            padding-top: 88px;
        }
        @media (max-width: $sw-sm-max) {
            padding-top: 36px;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        padding-left: 18px;
        @media (max-width: $sw-md-max) {
            padding-left: 0;
        }
        @media (max-width: $sw-sm-max) {
            width: 215px;
            margin: 0 auto;
        }
        img {
            z-index: 5;
            width: auto;
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
        }
    }
    &__main {
        display: flex;
        padding-top: 72px;
        @media (max-width: $sw-md-max) {
            flex-direction: column;
            padding-top: 65px;
        }
        @media (max-width: $sw-sm-max) {
            padding-top: 38px;
        }
    }
    &__description {
        z-index: 5;
        position: relative;
        @media (max-width: $sw-md-max) {
            display: flex;
            flex-direction: column;
        }
    }
    &__recognition-partners {
        @media (max-width: $sw-md-max) {
            margin: 0 auto;
            width: 100%;
        }
        img {
            width: 718px;
            margin-left: 115px;
            margin-top: 46px;
            @media (max-width: $sw-md-max) {
                margin: 0;
                width: 100%;
            }
        }
    }
    &__3000-us {
        margin-left: 225px;
        margin-top: -33px;
        @media (max-width: $sw-md-max) {
            position: absolute;
            top: auto;
            bottom: -300px;
            right: 46%;
            transform: translateX(50%);
            margin-left: 0;
            z-index: 10;
        }
        @media (max-width: $sw-sm-max) {
            bottom: -280px;
            width: 79%;
            top: auto;
        }
    }
    &__video {
        position: relative;
        width: 370px;
        height: 278px;
        margin-left: 94px;
        margin-top: 60px;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            margin: 0 auto;
            margin-top: -17px;
            height: 295px;
            width: 360px;
            background-size: contain;
            z-index: 3;
        }
        @media (max-width: $sw-sm-max) {
            margin-top: 6px;
            height: 246px;
            width: 273px;
        }
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
        }
        .youtube {
            width: 79px;
            height: 47px;
            background: #FF0000;
            opacity: 0.75;
            border-radius: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: all 0.3s ease;
            &:hover {
                opacity: 1;
            }
            img {
                width: 22px;
                height: 21px;
            }
        }
    }
    &__graphics {
        picture {
            position: absolute;
        }
    }
    .video {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        top: 0;
        transform: scale(.5);
        left: 0;
        .video__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .close-btn {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                z-index: 999999;
            }
            video {
                max-width: 50vw;
                max-height: 50vh;
                width: 100%;
                height: auto;
                border: 0;
                object-fit: cover;
                @media (max-width: $sw-md-max) {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        &.opened {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
            z-index: 9999;
        }
    }
}

// Графика
.snake {
    top: 199px;
    left: 0;
    @media (max-width: $sw-md-max) {
        z-index: 5;
        top: 104px;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.gradient-circle {
    bottom: -59px;
    left: 0;
    @media (max-width: $sw-md-max) {
        bottom: 66px;
    }
    @media (max-width: $sw-sm-max) {
        bottom: 193px;
    }
}

.gradient-circle-r {
    bottom: 50px;
    right: 0;
    @media (max-width: $sw-md-max) {
        bottom: 98px;
        right: 0;
    }
    @media (max-width: $sw-md-max) {
        display: none;
    }
}

.qube {
    top: 7px;
    right: -2px;
    @media (max-width: $sw-md-max) {
        top: -2px;
        right: 0px;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.circle-green {
    top: 0;
    right: 0;
    @media (max-width: $sw-md-max) {
        left: 0;
        top: 0;
        width: 2031px;
        height: 2000px;
    }
    @media (max-width: $sw-sm-max) {
        width: 658px;
        height: auto;
    }
}

.circle-yellow {
    top: -32px;
    right: -22px;
    @media (max-width: $sw-md-max) {
        top: 103px;
        right: 0;
    }
    @media (max-width: $sw-sm-max) {
        top: 111px;
    }
}

.wave {
    bottom: -59px;
    left: 0;
    @media (max-width: $sw-md-max) {
        display: none;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.dots {
    top: 145px;
    right: 438px;
    @media (max-width: $sw-md-max) {
        display: none;
    }
}

.conus {
    left: 253px;
    top: 205px;
    @media (max-width: $sw-md-max) {
        left: 87px;
        bottom: 269px;
        top: auto;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.ball-blue {
    bottom: 75px;
    right: 252px;
    z-index: 5;
    @media (max-width: $sw-md-max) {
        bottom: 261px;
        right: 86px;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.ball-yellow {
    top: 176px;
    left: 536px;
    z-index: 7;
    @media (max-width: 1700px) {
        left: 150px;
    }
    @media (max-width: $sw-md-max) {
        top: 173px;
        left: 104px;
    }
    @media (max-width: $sw-sm-max) {
        top: 115px;
        left: 168px;
    }
    @media (max-width: 480px) {
        top: 115px;
    }
    @media (max-width: $sw-xx-max) {
        top: 80px;
    }
}

.big-snake {
    bottom: -57px;
    right: 0;
    @media (max-width: $sw-md-max) {
        display: none;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.half-circle-lines {
    top: 64px;
    @media (max-width: $sw-md-max) {
        display: none;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
}

.transparent-circle {
    left: 47px;
    bottom: -61px;
    @media (max-width: $sw-md-max) {
        display: none;
    }
}

.transparent-line {
    left: 164px;
    bottom: 0;
    @media (max-width: $sw-md-max) {
        display: none;
    }
}

.line {
    bottom: 0;
    left: 154px;
    @media (max-width: $sw-md-max) {
        display: none;
    }
}

@media (max-width: $sw-sm-max) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-18px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(-18px);
    }
}