#amway-landing .c-future {
    background-image: url('../images/useful/future/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 47px 0;
    @media (max-width: $sw-md-max) {
        padding: 34px 0;
      }
    .c-future__title {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @media (max-width: $sw-md-max) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
    }
    .c-future__title1 {
        width: 507px;
        height: 140px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        margin-left: 15px;
        @media (max-width: $sw-md-max) {
           margin: 0;
          }
        @media (max-width: $sw-sm-max) {
           width: 300px;
           height: 78px;
         }
        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        span {
            position: relative;
            z-index: 5;
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 40px;
            line-height: 125%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: matrix(1, -0.05, 0.07, 1, 0, 0);
            @media (max-width: $sw-sm-max) {
                font-size: 24px;
              }
        }
    }
    .c-future__title2 {
        width: 304.36px;
        height: 134.21px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -64px;
        margin-left: -163px;
        @media (max-width: $sw-md-max) {
            margin: 0;
            margin-top: -30px;
           }
        @media (max-width: $sw-sm-max) {
            width: 180px;
            height: 75px;
            margin: 0 auto;
          }
        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        span {
            position: relative;
            z-index: 5;
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 40px;
            line-height: 125%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: matrix(1, -0.05, 0.07, 1, 0, 0);
            @media (max-width: $sw-sm-max) {
                font-size: 24px;
              }
        }
    }
    .c-future__items {
        margin: 0 auto;
        margin-top: 67px;
        display: flex;
        width: 1157px;
        justify-content: space-between;
        @media (max-width: $sw-md-max) {
           flex-wrap: wrap;
           width: 100%;
           align-items: center;
           justify-content: center;
           margin-top: -10px;
        }
        @media (max-width: $sw-sm-max) {
           margin-top: 0;
        }
    }
    .c-future__item {
        max-width: 287px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $sw-md-max) {
            margin: 10px 39px;
         }
         @media (max-width: $sw-sm-max) {
            margin: 50px 0;
          }
        &:nth-child(2) {
            margin-top: 50px;
            @media (max-width: $sw-sm-max) {
                margin: 50px 0;
              }
        }
    }
    .c-future__item-title {
        width: 270.68px;
        height: 70px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 20px;
          }
        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        span {
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 22px;
            line-height: 110%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #0F5476;
            transform: rotate(-3deg);
        }
    }
    .c-future__item-img {
        height: 221px;
        width: 223px;
        margin-top: 10px;
    }
    .c-future__item-desc {
        margin-top: 48px;
        text-align: center;
        span {
            font-family: SourceSansPro;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 125%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}