mixin c-future(data)
	.c-future
		.c-future__graphs
			//- picture.conus.parallax
			//- 	source(media='(max-width: 768px)', srcset='s/images/useful/future/conus-xx.png')
			//- 	source(media='(max-width: 1279px)', srcset='s/images/useful/future/conus-md.png')
			//- 	img(src='s/images/useful/future/conus.png', alt='')
			.l-container
				.c-future__inner
					.c-future__title
						.c-future__title1
							picture
								source(media='(max-width: 768px)', srcset='s/images/useful/future/1.png')
								source(media='(max-width: 1279px)', srcset='s/images/useful/future/1.png')
								img(src='s/images/useful/future/1.png', alt='')
							span доступны НОВЫЕ функции
						.c-future__title2
							picture
								source(media='(max-width: 768px)', srcset='s/images/useful/future/2.png')
								source(media='(max-width: 1279px)', srcset='s/images/useful/future/2.png')
								img(src='s/images/useful/future/2.png', alt='')
							span all stars
					.c-future__items
						.c-future__item.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="1s" data-rellax-speed="3")
							.c-future__item-title
									picture
										source(media='(max-width: 768px)', srcset='s/images/useful/future/3.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/future/3.png')
										img(src='s/images/useful/future/3.png', alt='')
									span загрузите диплом
							.c-future__item-img
								picture
									source(media='(max-width: 768px)', srcset='s/images/useful/future/6.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/future/6.png')
									img(src='s/images/useful/future/6.png', alt='')
							.c-future__item-desc
								span Рассказывайте о своих достижениях и привлекайте новых клиентов.
						.c-future__item.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
							.c-future__item-title
									picture
										source(media='(max-width: 768px)', srcset='s/images/useful/future/4.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/future/4.png')
										img(src='s/images/useful/future/4.png', alt='')
									span СОЗДАЙТЕ АВАТАРКУ
							.c-future__item-img
								picture
									source(media='(max-width: 768px)', srcset='s/images/useful/future/8.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/future/8.png')
									img(src='s/images/useful/future/8.png', alt='')
							.c-future__item-desc
								span Просто выбирайте уникальную рамку для своих фотографий и используйте в социальных сетях.
						.c-future__item.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0" data-rellax-speed="3")
							.c-future__item-title
									picture
										source(media='(max-width: 768px)', srcset='s/images/useful/future/5.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/future/5.png')
										img(src='s/images/useful/future/5.png', alt='')
									span набор стикеров
										br
										| для telegram
							.c-future__item-img
								picture
									source(media='(max-width: 768px)', srcset='s/images/useful/future/7.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/future/7.png')
									img(src='s/images/useful/future/7.png', alt='')
							.c-future__item-desc
								span Делитесь своими эмоциями с помощью ярких стикеров!