mixin c-invite(data)
	.c-invite#c-invite
		picture.tr-line-circle.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/tr-line-circle.png')
			img(src='s/images/useful/lg-images/tr-line-circle.png', alt='')
		picture.long-snake.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/long-snake.png')
			img(src='s/images/useful/lg-images/long-snake.png', alt='')
		picture.star.parallax.wow.slideInDown(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/star.png')
			img(src='s/images/useful/lg-images/star.png', alt='')
		picture.triangle.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/triangle.svg')
			img(src='s/images/useful/lg-images/triangle.svg', alt='')
		picture.big-blue-ball.parallax.wow.slideInUp(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/big-blue-ball.png')
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/big-blue-ball.svg')
			img(src='s/images/useful/lg-images/big-blue-ball.svg', alt='')
		picture.blue-circle.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/blue-circle.png')
			img(src='s/images/useful/lg-images/blue-circle.png', alt='')
		picture.circle-null.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 1279px)', srcset='s/images/useful/md-images/circle-null.png')
			img(src='s/images/useful/lg-images/circle-null.png', alt='')
		picture.md-snake.parallax.no-lg.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s")
			source(media='(max-width: 768px)', srcset='s/images/useful/sm-images/md-snake.png')
			img(src='s/images/useful/md-images/md-snake.png', alt='')
		picture.md-gradient-circle.parallax.no-lg.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s")
			img(src='s/images/useful/md-images/md-gradient-circle.svg', alt='')
		.l-container
			.c-invite__inner
				.c-invite__img
					img(src='s/images/useful/lg-images/invite.png', alt='')
				button(type="button").c-invite__button Начать бизнес