#amway-landing .c-invite {
	background: linear-gradient(90deg, #24CDC0 0%, #0097FF 100%);
	position: relative;
	padding-top: 65px;
	padding-bottom: 150px;
	position: relative;
	overflow: hidden;
	@media (max-width: $sw-md-max) {
		padding-top: 134px;
		padding-bottom: 48px;
	}
	@media (max-width: $sw-sm-max) {
		padding-top: 51px;
		padding-bottom: 67px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		position: relative;
		z-index: 6;
		margin-left: 195px;
		@media (max-width: $sw-md-max) {
			width: 545px;
			text-align: left;
			margin: 0 auto;
		}
		@media (max-width: $sw-sm-max) {
			width: 300px;
			margin: 0 auto;
		}
	}
	&__button {
		cursor: pointer;
		background: #8143D7;
		border-radius: 5px;
		border: none;
		color: #fff;
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		line-height: 51px;
		min-width: 226px;
		min-height: 51px;
		transition: all 0.3s ease;
		margin-top: 72px;
		font-family: SourceSansPro;
		@media (max-width: $sw-md-max) {
			min-width: 290px;
			margin-top: 87px;
			z-index: 6;
		}
		@media (max-width: $sw-sm-max) {
			margin-top: 95px;
		}
		&:hover {
			background: #043057;
		}
	}
	picture {
		position: absolute;
	}

	.tr-line-circle {
		left: 0;
		top: -310px;
		@media (max-width: $sw-md-max) {
			top: 0;
		}
		@media (max-width: $sw-sm-max) {
			top: 31px;
			width: 176px;
			left: 0;
		}
	}
	.long-snake {
		top: -117px;
    left: -86px;
		@media (max-width: $sw-md-max) {
			top: -93px;
		}
		@media (max-width: $sw-sm-max) {
			display: none;
		}
	}
	.star {
		top: 245px;
    left: 271px;
		@media (max-width: $sw-sm-max) {
			display: none;
		}
	}
	.triangle {
		bottom: 0;
		left: 0;
		@media (max-width: $sw-sm-max) {
			bottom: 136px;
		}
	}
	.big-blue-ball {
		right: 45px;
		bottom: 92px;
		@media (max-width: $sw-md-max) {
			right: 0;
			bottom: 24px;
		}
		@media (max-width: $sw-sm-max) {
			bottom: 158px;
		}
	}
	.blue-circle {
		top: 199px;
    right: -10px;
		@media (max-width: $sw-md-max) {
			top: 205px;
			right: 0;
		}
		@media (max-width: $sw-sm-max) {
			top: 96px;
			right: -35px;
			width: 100px;
		}
	}
	.circle-null {
		right: -15px;
    top: 148px;
	}
	.md-gradient-circle {
		right: 0;
		top: 32px;
		@media (max-width: $sw-sm-max) {
			right: -29px;
			top: 14px;
			width: 63px;
		}
	}
	.md-snake {
		top: 0;
    right: 0;
	}
	&__logo {
		@media (max-width: $sw-sm-max) {
			width: 200px;
			margin-left: 24px;
		}
	}
	}


.no-lg {
	display: none;
	@media (max-width: $sw-md-max) {
		display: block;
	}
}

