#amway-landing .c-present {
	background: #6F6BE8;
	padding: 94px 0;
	padding-bottom: 77px;

	@media (max-width: $sw-md-max) {
		padding: 44px 0;
 }
	@media (max-width: $sw-sm-max) {
		padding: 30px 0;
 }
	.c-present__inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.c-present__notebook {
		width: 531.92px;
		position: relative;
		margin-left: 25px;
    margin-top: 41px;
		@media (max-width: $sw-md-max) {
			display: none;
		 }
	}
	.c-present__desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 80px;
		@media (max-width: $sw-md-max) {
			margin-left: 0;	
	}
		@media (max-width: $sw-sm-max) {
			margin: 0;
	 }
		.c-present__notebook {
			display: none;
			@media (max-width: $sw-md-max) {
       display: block;
			}
			@media (max-width: $sw-sm-max) {
				width: 290px;
				margin-left: 0;
		 }
		}
	}
	.c-present__title {
		position: relative;
		width: 529.69px;
		height: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: $sw-sm-max) {
			width: 300px;
			height: 107px;
	 }
		picture {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		span {
			font-family: RobotoCondensed;
			font-style: italic;
			font-weight: bold;
			font-size: 30px;
			line-height: 100%;
			text-align: center;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #FFFFFF;
			transform: rotate(-3deg);
			@media (max-width: $sw-sm-max) {
				font-size: 17px;
		 }
		}
		b {
			font-family: RobotoCondensed;
			font-style: italic;
			font-weight: bold;
			font-size: 40px;
			line-height: 110%;
			text-align: center;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #FFFFFF;
			transform: rotate(-3deg);
			@media (max-width: $sw-sm-max) {
				font-size: 22px;
		 }
		}
		
	}
	.c-present__subtitle {
		width: 420px;
		margin-top: 3px;
		@media (max-width: $sw-sm-max) {
			width: 100%;
	 }
		p {
			font-family: SourceSansPro;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 125%;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.c-present__link {
		margin-top: 26px;
		a {
			width: 226px;
			height: 51px;
			background: #8143D7;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: SourceSansPro;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 125%;
			text-align: center;
			color: #FFFFFF;
			transition: all 0.5s ease;
			position: relative;
			&:hover {
				background: transparent;
				z-index: 5;
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				// transition: all 0.3s ease;
				background: linear-gradient(192.37deg, #3553DA 24.5%, #833ACE 74.28%);
				z-index: -1;
			}
		}
	}
}

