mixin c-present(data)
	.c-present#c-present
		.l-container
			.c-present__inner
				.c-present__notebook.wow.slideInLeft(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
					picture
						source(media='(max-width: 768px)' srcset='s/images/useful/present/note-sm.png')
						source(media='(max-width: 1279px)' srcset='s/images/useful/present/note-md.png')
						img(src='s/images/useful/present/note.png' alt='')
				.c-present__desc.wow.slideInRight(data-wow-duration="3s" data-wow-delay="0.5s" data-rellax-speed="3")
					.c-present__title
						picture
							source(media='(max-width: 768px)' srcset='s/images/useful/present/1-sm.png')
							source(media='(max-width: 1279px)' srcset='s/images/useful/present/1.png')
							img(src='s/images/useful/present/1.png' alt='')
						span УДОБНАЯ И ПРОСТАЯ
						b интеграция личных
							br
							| страниц
					.c-present__notebook.d-none
						picture
							source(media='(max-width: 768px)' srcset='s/images/useful/present/note-sm.png')
							source(media='(max-width: 1279px)' srcset='s/images/useful/present/note-md.png')
							img(src='s/images/useful/present/note.png' alt='')
					.c-present__subtitle
						p С помощью конструктора личных страниц легко поделиться информацией о себе, своем опыте и достижениях в бизнесе Amway. А также участники проекта ALL STARS автоматически получают уникальный шаблон страницы.
					.c-present__link
						a(href="#") Присоединиться!